@if (TempData["success"] != null)
{
    <div class="alert alert-success">
        <i class="fa fa-check"></i>@TempData["success"]
    </div>
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        <i class="fa fa-check"></i>@TempData["error"]
    </div>
}
