@model Int32?
<ul class="stats">
    <li class='satgreen' title="Total">
        <i class="fa fa-slack"></i>
        <div class="details">
            <span class="big largeFont" id="totalItem">
                @(Model)
            </span>
        </div>
    </li>
</ul>