<div class="alert alert-success alert-dismissable cannotAutoClose" style=" margin-bottom: 5px;">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <span class="h4">
        <strong>Branch Data! </strong>
        Importing Branch data is one time process.
    </span>
</div>