<div class="row">
    <div class="col-sm-9">
        <ul class="tiles">
            <li class="blue">
                <a href="#">
                    <span>
                        <i class="fa fa-phone"></i>
                    </span>
                    <span class="name">Phone</span>
                </a>
            </li>
            <li class="red">
                <a href="#">
                    <span class="count">
                        <i class="fa fa-envelope"></i>1
                    </span>
                    <span class="name">Mails</span>
                </a>
            </li>
            <li class="lime">
                <a href="#">
                    <span class="count">
                        <i class="fa fa-comment"></i>4
                    </span>
                    <span class="name">Comments</span>
                </a>
            </li>
            <li class="image">
                <a href="#">
                    <img src="img/demo/user-1.jpg" alt="">
                    <span class="name">Jane Doe</span>
                </a>
            </li>
            <li class="blue long">
                <a href="#">
                    <span class="nopadding">
                        <h5>eakroko</h5>
                        <p>Check the new Flat theme on themeforest. Incredible fast and easy to use.</p>
                    </span>
                    <span class="name">
                        <i class="fa fa-twitter"></i>
                        <span class="right">1min ago</span>
                    </span>
                </a>
            </li>
            <li class="green long">
                <a href="#">
                    <span>
                        <i class="fa fa-globe"></i>
                    </span>
                    <span class="name">User regions</span>
                </a>
            </li>
            <li class="brown">
                <a href="#">
                    <span class="count">
                        <i class="fa fa-bolt"></i>3
                    </span>
                    <span class="name">Warnings</span>
                </a>
            </li>
            <li class="teal long">
                <a href="#">
                    <span class="count">
                        <i class="fa fa-cloud-upload"></i>12
                    </span>
                    <span class="name">New uploads</span>
                </a>
            </li>
            <li class="blue">
                <a href="#">
                    <span>
                        <i class="fa fa-cogs"></i>
                    </span>
                    <span class="name">Settings</span>
                </a>
            </li>
        </ul>
    </div>
</div>