@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PR</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link href="~/css/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/form-elements.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="shortcut icon" type="image/x-png" href="~/Images/ez-favicon.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
    <link href="~/frameworks/jquery-ui-1.11.4.custom/jquery-ui.min.css" rel="stylesheet" />

</head>

<body class="container-fluid">
    <style>
        .first {
            height: 0% !important;
        }

        .inner-bg {
            background: rgb(238, 238, 238) !important;
        }

        .form-top {
            background: rgb(238, 238, 238) !important;
            padding: 0;
        }

        .form-top-left {
            background: rgb(238, 238, 238) !important;
        }
    </style>
    <!-- Top content -->
    <div class="top-content">
        <div class="inner-bg" style="background-color:transparent !important;">
            <div class="first">
                <div class="col-sm-4 col-sm-offset-4 form-box f">
                    <div class="form-top form-top1">
                        <div class="form-top-left" id="topdiv" style="text-align:center; width:100%">
                            @if (ViewBag.logoimage != null)
                            {
                                <h3><img src="data:image;base64,@System.Convert.ToBase64String(ViewBag.logoimage)" id="logo" /></h3>
                            }
                            else
                            {
                                <h3><img id="logo" src="~/uploads/Logos/CompanyLogo.png" /></h3>
                            }
                            @*<h3><img id="logo" /></h3>*@
                        </div>

                    </div>

                </div>
            </div>
            <div class="second">
                <div class="row">
                    <div class="col-sm-offset-3 col-sm-6">
                        @Html.Partial("_PartialAlerts")
                        <div class="box box-bordered blue">
                            <div class="box-title">
                                <h3 class="Bold">
                                    <strong> Import HR Primary Data</strong>
                                </h3>
                            </div>
                            <div class="box-content nopadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <ul class="list-group">
                                            <li class="list-group-item">Salaries </li>
                                            <li class="list-group-item">Payments</li>
                                        </ul>                           
                                        <a href="@Url.Action("ImportPR")" class="btn btn-primary" onclick="showBlockUI()">Click Here</a> To Import Mentioned data from old database.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>

        </div>

    </div>


    <!-- Javascript -->
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.backstretch.min.js"></script>
    <script src="~/Scripts/scripts.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="~/Scripts/jquery.mask.js"></script>
    <script src="/frameworks/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <script src="/frameworks/blockUI/jquery.blockUI.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        function setDateValidation(_date, _format, _delimiter) {
            var formatLowerCase = _format.toLowerCase();
            var formatItems = formatLowerCase.split(_delimiter);
            var dateItems = _date.split(_delimiter);
            var monthIndex = formatItems.indexOf("mm");
            var dayIndex = formatItems.indexOf("dd");
            var yearIndex = formatItems.indexOf("yyyy");
            var month = parseInt(dateItems[monthIndex]);
            //month -= 1;
            var formatedDate = [month, '/', dateItems[dayIndex], '/', dateItems[yearIndex]].join('');
            return formatedDate;
        }

        function showBlockUI() {
            $.blockUI({ message: '<div style="font-size: 18px;padding: 9px;"><i class="fa fa-cog fa-spin fa-fw"></i><span class="">Please wait. We are setting you up.</span></div>' });
        }
        
    </script>
</body>

</html>




