@model int?

<ul class="stats" style="margin-right: 15px;">
    <li class="green">
        <i class="fa fa-slack" style="padding: 2.3px;"></i>
        <div class="details">
            <span class="big largeFont" id="hashTotalId">
               @Model
            </span>
        </div>
    </li>
</ul>