@model  FAPP.Areas.AM.ViewModels.GraphsModel
<div class="row">
    <div class="col-md-8">

        <div class="" id="DashboardICons">
            @*@if (Model.v_mnl_FormRights.Where(u => u.FormURL == "_PartialShowDashboardMenus").Any())
                {*@
            @Html.Partial("~/Areas/AM/Views/Reports/_PartialReportsDashboardMenus.cshtml", Model)
            @*}*@
        </div>
    </div>
    <div class="col-md-4">
        <div class="" id="MenuLinks">
            @*@if (Model.v_mnl_FormRights.Where(u => u.FormURL == "_PartialShowQuickLinks").Any())
                {*@
            @Html.Partial("~/Areas/AM/Views/Reports/_PartialReportsQuickLinks.cshtml", Model)
            @*}*@
        </div>
    </div>
</div>
