
@model List<string>
@{
    Layout = null;
}
@*<h4>SMS Header</h4>
<h5>Template Fields</h5>*@
<ul class="tags email header">
    @foreach (var item in Model)
    {
        <li>{<a href="javascript:;" class="appendToHeader">@item</a>}</li>
    }
</ul>
