
@model FAPP.ViewModel.MediaTemplatesViewModel
@{
    ViewBag.Title = "Add Edit Certificate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section TopRightMenu{
    <div id="topRightBtns">
        <ul class="minitiles">
            @*<li class="green" id="topDetBtn" >
                    <a href="javascript:;" onclick="GetModalData($('#Certificate_CertificateId').val(), '/Certificates/AddUpdateCertificateModal', 'frmModal', 'frmModalContent');$('#frmModal').show();" data-toggle="tooltip" title="Edit Details">
                        <i class="fa fa-pencil"></i>
                    </a>
                </li>*@
            <li class="red">
                <a href="@FAPP.DAL.SessionHelper.ReturnUrl" data-toggle="tooltip" title="Back to Dashboard">
                    <i class="fa fa-mail-reply"></i>
                </a>
            </li>
            @if (Model.Certificate.CertificateId > 0)
            {
                <li class="green" id="topDetBtn">
                    <a href="javascript:;" onclick="GetModalData($('#Certificate_CertificateId').val(), '/Certificates/DetailsModal', 'frmModal', 'frmModalContent');$('#frmModal').show();" data-toggle="tooltip" title="Details">
                        <i class="fa fa-eye"></i>
                    </a>
                </li>

            }
            <li class="darkblue" data-toggle="tooltip" title="" data-original-title="Save Template">
                <a href="javascript:" onclick="validateform();" id="addBtn">
                    <i class="fa fa-save"></i>
                </a>
            </li>

            @*<li class="blue">
                    <a href="@Url.Action("Manage", "Certificates")" data-toggle="tooltip" title="Templates List">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>*@
        </ul>
    </div>

}

<div id="certGrid">
    @Html.Partial("_CertificateTemplateFrm", Model)
</div>

<script>
    if ($("#Certificate_Title").val() === "") {
        $("#pageHeading").html("Add " + $("#TemplateType_TemplateTypeName").val() + " Certificate");
    } else {
        $("#pageHeading").html("Edit " + $("#Certificate_Title").val());
    }

             $('#extendedPageHeader').html(`<p style="margin:8px 0px">
                @{
                      <label class="label label-darkblue" title="Template Type">@(Model.TemplateType==null?"":Model.TemplateType.TemplateTypeName)</label>
                } </p>`);
</script>