@model FAPP.Areas.AM.ViewModels.ReturnIssueModel

<style>
    .Noline {
        border-top: none !important;
    }

    .noborderRight {
        border-right: none !important;
    }

    hr {
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: dashed;
        border-width: 1px;
    }

    .AllBorder {
        padding: inherit;
        margin: auto;
        border-top: solid !important;
        border-bottom: solid !important;
        border-left: solid !important;
        border-right: solid !important;
        border-style: solid !important;
        border-width: medium;
        /*text-align: center;
        font-weight: bold;*/
    }

    .topbottomBorder {
        padding: inherit;
        margin: auto;
        border-top: solid !important;
        border-bottom: solid !important;
        border-style: solid !important;
        border-left: none !important;
        border-right: none !important;
        border-width: medium;
        /*text-align: center;*/
        /*font-weight: bold;*/
    }

    .noLeftBottomBorder {
        /*border-left: none !important;*/
        border-bottom: none !important;
    }

    .rightborder {
        border-right: solid !important;
    }

    .style5 {
        text-align: right;
        font-family: Vivaldi;
        font-size: x-large;
    }

    .Dottedline {
        border-bottom: dotted !important;
        border-width: thick;
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .modalTable {
        padding: 0px 15px;
    }
</style>

@section topRightMenu{
    <div id="headersection">
        @Html.Partial("_PartialReturnHeaderSection", Model)
    </div>
}
@section scripts{
    <script src="~/Areas/AM/Scripts/AddEditReturnIssue.js"></script>
}
@using (Ajax.BeginForm("SaveReturnIssue", "ReturnIssue", new AjaxOptions { OnSuccess = "OnResponceBackFromServer" }))
{
    Html.EnableClientValidation(false);
    <div id="mainsection">
        @Html.Partial("_PartialReturnIssue", Model)
    </div>
    <div id="printsection" style="display:none">
        @Html.Partial("_PartialReturnIssuePrintSection", Model)
    </div>
}

<script>
    $('#extendedPageHeader').html(`<p style="margin:11px 0px 0px 0px">
@{
<label id="lblNewReturnVoucherId" class="label label-darkblue" title="Return Voucher Id">New Return Voucher</label>
} </p>`);
</script>
